.menuButtonActive {
    color: grey;
    font-style: italic;
}

.menuButtonActiveHover:hover {
    color: white;
}

.bg-custom {
    background-color: rgb(40, 40, 40);
}

.formBody {
    font-family: Arial, sans-serif;
    background-color: #212529;
    color: #f8f9fa;
    padding: 20px;
}
.form-control {
    border: none;
    border-bottom: 2px solid #495057;
    border-radius: 0;
    background-color: transparent;
    color: #f8f9fa;
    box-shadow: none;
}
.form-control:focus {
    border-color: #f8f9fa;
    box-shadow: none;
}
.btn-custom {
    background-color: #495057;
    color: #f8f9fa;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-custom:hover {
    background-color: #343a40;
}

